body{
    height: 100em;
}
.black{
  width: 70%;
  height:90em;
  margin: 5em auto auto auto;
  margin
  padding:auto;
  background-color:black;
}
.white{
  position:fixed;
  width: 50%;
  height:15em;
  left:25%;
  top:25%;
  margin:auto;
  padding:auto;
  background-color:white;
}
.green{
  position:fixed;
  width: 50%;
  height:13em;
  left:30%;
  top:40%;
  margin:auto;
  padding:auto;
  background-color:green;
}
